<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link href="../Css/styles.css" rel="stylesheet">
    <title>Processor Management</title>
  </head>
  <!-- <body>
    <div>
      <div class="tabs">
        <div class="tab-item active">
          <i class="tab-icon fas fa-code"></i>
          CPU
        </div>
        <div class="tab-item">
          <i class="tab-icon fas fa-cog"></i>
          Memmory
        </div>
        <div class="tab-item">
          <i class="tab-icon fas fa-plus-circle"></i>
          Disks
        </div>
        <div class="tab-item">
          <i class="tab-icon fas fa-pen-nib"></i>
          CPI
        </div>
        <div class="line"></div>
      </div>

      <div class="tab-content">
        <div class="tab-pane active">
          <h2></h2>
          <p id="cpu"></p>
        </div>
        <div class="tab-pane">
          <p></p>
        </div>
        <div class="tab-pane">
          <p></p>
        </div>
        <div class="tab-pane">
          <p></p>
        </div>
      </div>
    </div>

    <script src="../Scripts/renderer.js"></script>
    <script type="module" src="../Scripts/excuteScript.js"></script>
    
  </body> -->
  <frameset border ="1" rows="80,*">
    <frame name="T1" src="T1.html">
        <frameset cols="200,*">
            <frame name="Tabs" src="Tabs.html"></frame>
            <frame name="CPU" src="CPU.html" ></frame>
            <!-- MarginWidth="300" MarginHeight="120" -->
        </frameset>
  </frameset>
</html>
