<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link href="../Css/styles.css" rel="stylesheet">
    <title>System Monitor</title>
  </head>
  <frameset border ="1" rows="80,*">
    <frame name="T1" src="T1.html">
        <frameset cols="200,*">
            <frame name="Tabs" src="Tabs.html"></frame>
            <frame name="CPU" src="CPU.html" ></frame>
            <!-- MarginWidth="300" MarginHeight="120" -->
        </frameset>
  </frameset>
</html>
