<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../Fonts/fontawesome-free-6.2.0-web/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" /> -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="../Css/Tabs.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!-- <a href="T3.html" target="T3">TRANG CHỦ</a>
    <br/> -->
    <div class="tabs">
        <div class="tab-item active">
            <i class="tab-icon fa-solid fa-microchip"></i>
            <!-- <i class="tab-icon fas fa-code"></i> -->
            <a href="CPU.html" target="CPU">CPU</a>
            <div class="line"></div>
            <!-- <br/> -->
        </div>
        <div class="tab-item">
            <i class="tab-icon fa-solid fa-memory"></i>
            <a href="Memory.html" target="CPU">Memory</a>
            <div class="line"></div>
        </div>
        <div class="tab-item">
            <i class="tab-icon fa-solid fa-floppy-disk"></i>
            <a href="topInfor.html" target="CPU">Processes</a>
            <div class="line"></div>
        </div>
        <div class="tab-item">
            <i class="tab-icon fa-solid fa-chart-line"></i>
            <a href="DisplaySystem.html" target="CPU">Display</a>
            <div class="line"></div>
        </div>
        <div class="tab-item">
            <a href="" target="CPU">Disks</a>
            <div class="line"></div>
        </div>
    </div>
    <script src="../Scripts/tabsActive.js"></script>
</body>
</html>